/* TODO: Mobile view */

body {
  background-image: url("/assets/destination/background-destination-mobile.jpg");
  display: flex;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  color: white;

  text-align: center;
}

.Container-destination-Main {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Container-destination-Main > h3 {
  font-family: "Barlow Condensed";
  font-size: 16px;
  letter-spacing: 2.7pt;
  color: white;
  font-weight: lighter;
}

.Container-destination-Main > h3 > span {
  font-family: "Barlow Condensed";
  font-weight: bold;
  color: rgba(255, 255, 255, 0.25);
  margin-right: 18px;
}

.image-planet {
  margin-top: 32px;
  width: 170px;
  height: 170px;
  margin-bottom: 26px;
}

.destinationMenu {
  display: flex;
  list-style: none;
  width: 237.5px;
  height: 28px;
  justify-content: space-between;
  isolation: isolate;
  z-index: 10;
}

.destinationMenuBtn {
  text-transform: uppercase;
  font-family: "Barlow Condensed";
  letter-spacing: 2.36pt;
  font-size: 14;
  padding-bottom: 8px;
  font-weight: lighter;
  border-bottom: 3px solid transparent;
}

.active-planet {
  border-bottom: 3px solid #979797;
}

.Container-destination-Aside {
  top: 187px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planetName {
  margin-top: 20px;
  font-family: "Bellefair";
  font-weight: lighter;
  font-size: 56px;
  text-transform: uppercase;
  width: 187px;
}

.planetDescription {
  margin-top: 1px;
  width: 327px;
  font-family: "Barlow";
  font-weight: normal;
  font-size: 15px;
  line-height: 25pt;
  color: #d0d6f9;
}

.destination-line {
  background-color: #383b4b;
  width: 327px;
  height: 1px;
  margin: 32px 0;
}

.planet-data-Heading {
  font-family: "Barlow Condensed";
  font-size: 14;
  letter-spacing: 2.36pt;
  margin-bottom: 12px;
  color: #d0d6f9;
}

.planet-distance,
.planet-taveltime {
  font-family: "Bellefair";
  font-size: 28px;
  text-transform: uppercase;
}

.planet-Data-col {
  margin-bottom: 32px;
}

.planet-Data-col:last-child {
  margin-bottom: 58px;
}
