body {
  background-image: url("/assets/crew/background-crew-mobile.jpg");
  display: flex;
  background-attachment: fixed;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.Crew-Heading {
  font-family: "Barlow Condensed";
  font-weight: lighter;
  margin: 88px 0 32px 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 2.7pt;
}

.Crew-Heading > span {
  font-family: "Barlow Condensed";
  font-weight: bold;
  color: rgba(255, 255, 255, 0.25);
  margin-right: 16px;
}

.Container-Crew-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.crewImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 327px;
  border-bottom: 1px solid #979797;
}

.crewMemberImage {
  height: 223px;
}

.ImageSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.slideMenu {
  margin-top: 32px;
  height: 10px;
  width: 88px;
  display: flex;
  justify-content: space-between;
  isolation: isolate;
  z-index: 10;
}

.slideButton {
  background-color: rgba(255, 255, 255, 0.17);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.activeSlideButton {
  background-color: rgba(255, 255, 255, 1);
}

.Container-Crew-Aside {
  width: 327px;
  margin: 0;
}

.role {
  margin-bottom: 8px;
  font-family: "Bellefair";
  font-size: 16px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.crewName {
  margin: 8px 0 16px 0;
  color: #ffffff;
  font-family: "Bellefair";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: lighter;
}

.bio {
  text-align: center;
  color: #ffffff;
  font-family: "Barlow";
  font-size: 15px;
  line-height: 25px;
  font-weight: lighter;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  .Crew-Heading {
    text-align: left;
    width: 100%;
    margin: 136px 0 60px 0;
    padding-left: 38.5px;
    font-size: 20px;
    letter-spacing: 3.38pt;
  }

  .Crew-Container {
    display: flex;
    flex-direction: column-reverse;
  }

  .sliderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px 0 40px 0;
  }

  .Container-Crew-Aside {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }

  .role {
    font-size: 24px;
  }

  .crewName {
    font-size: 40px;
  }

  .bio {
    margin-top: 16px;
    width: 458px;
    font-size: 16px;
  }

  .ImageSlider {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .crewImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #979797;
  }

  .crewMemberImage {
    height: 572px;
  }
}

/* TODO: TEST */

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .Crew-Heading {
    text-align: left;
    width: 100%;
    margin: 136px 0 60px 0;
    padding-left: 38.5px;
    font-size: 20px;
    letter-spacing: 3.38pt;
  }

  .Crew-Container {
    display: flex;
    flex-direction: row;
  }

  .Container-Crew-Aside {
    width: 100%;
    margin: 0 0 40px 0;
  }

  .role {
    font-size: 24px;
  }

  .crewName {
    font-size: 40px;
  }

  .bio {
    margin-top: 16px;
    width: 458px;
    font-size: 16px;
  }

  .ImageSlider {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .slideMenu {
    margin: 0 0 40px 0;
  }

  .crewImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #979797;
  }

  .crewMemberImage {
    height: 572px;
  }
}

/* TODO: Monitor */
/* TODO: Das Slider-Menü muss aus dem Conteiner Div Raus! */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  body {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
    backdrop-filter: blur(10px);
    display: flex;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
  }

  .Crew-Heading {
    position: absolute;
    text-align: left;
    width: fit-content;
    padding-left: 166.5px;
    align-self: flex-start;
    margin: 212px 0 154px 0;
    font-size: 28px;
    letter-spacing: 4.72pt;
  }

  .Crew-Container {
    display: flex;
    width: 100%;
    margin-top: 198px;
    flex-direction: row-reverse;
  }

  .Container-Crew-Main {
    justify-content: flex-end;
  }

  .Container-Crew-Aside {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: 0;
  }

  .role {
    font-size: 32px;
  }

  .crewName {
    font-size: 56px;
  }

  .bio {
    margin-top: 27px;
    width: 444px;
    height: 160px;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
  }

  .crewInfo {
    text-align: left;
    padding-left: 165.5px;
    margin-top: 202px;
  }
  .sliderContainer {
    padding-left: 165.5px;
    justify-content: flex-start;
    margin-top: 88px;
    width: 100%;
  }

  .ImageSlider {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .slideMenu {
    margin: 0 0 40px 0;
  }

  .crewImageContainer {
    display: flex;
    float: right;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: max-content;
    overflow: hidden;
    padding-right: 137px;
    border-bottom: initial;
    margin-bottom: -10px;
  }

  .crewMemberImage {
    contain: content;
    height: 100%;
  }

  .slideButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
