.btn-explorer-outer {
  position: absolute;
  pointer-events: none;
  left: 65%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-explorer {
  position: absolute;
  pointer-events: auto;
  width: 274px;
  height: 274px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.btn-explorer > a {
  padding: 0;
  margin: 0;
  color: #0b0d17;
  font-size: 28px;
  font-family: "Barlow Condensed";
  letter-spacing: 4.75pt;
  cursor: default;
}

.container-heading-main {
  position: absolute;
  top: 43%;
  left: 11%;
  width: 450px;
  height: 382px;
  color: #ffffff;
}

.container-heading-main > h1 {
  letter-spacing: normal;
  font-size: 150px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;

  line-height: 172px;
  margin: 2rem 0;
}

.container-heading-main > h5 {
  font-size: 28px;
  font-family: "Barlow Condensed";
  color: #d0d6f9;
  letter-spacing: 4.72px;

  font-weight: lighter;
}

.container-heading-main > p {
  font-size: 18px;
  font-family: "Barlow";
  line-height: 32px;
}

/* TODO: Small Laptop */

@media screen and (max-width: 1270px) {
  .btn-explorer-outer {
    width: 300px;
    height: 300px;

    top: 45%;
  }

  .btn-explorer {
    width: 200px;
    height: 200px;
  }

  .container-heading-main {
    top: 35%;
    width: 300px;
    height: 382px;
  }

  .container-heading-main > h1 {
    font-size: 80px;

    line-height: 80px;
  }

  .container-heading-main > h5 {
    font-size: 16px;
  }

  .container-heading-main > p {
    font-size: 15px;

    line-height: 25px;
  }
}

@media screen and (min-width: 913px) {
  .btn-explorer-outer:hover {
    background-color: hsla(0, 0%, 49%, 0.8);
    cursor: pointer;
  }
}

/* TODO: Tablet*/

@media screen and (max-width: 912px) {
  body {
    background-image: url("/assets/home/background-home-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-heading-main {
    position: initial;
    margin-top: 202px;
    width: 450px;
    height: 334px;
    text-align: center;
  }

  .container-heading-main > h1 {
    font-size: 150px;
    line-height: 150px;
  }

  .container-heading-main > h5 {
    font-size: 20px;
    letter-spacing: 3.38pt;
  }

  .container-heading-main > p {
    font-size: 16px;
    line-height: 28px;
  }

  .btn-explorer-outer {
    position: initial;
    pointer-events: none;
    margin-top: 156px;
    margin-bottom: 90px;
    width: 300px;
    height: 300px;
  }

  .btn-explorer {
    width: 242px;
    height: 242px;
  }
  .btn-explorer-outer-pressed {
    background-color: hsla(0, 0%, 49%, 0.8);
    cursor: pointer;
  }
}

/* TODO: Mobile */

@media screen and (max-width: 425px) {
  body {
    background-image: url("/assets/home/background-home-mobile.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-heading-main {
    position: initial;
    margin-top: 112px;
    width: 327px;
    height: 276px;
    text-align: center;
  }

  .container-heading-main > h1 {
    font-size: 80px;
    line-height: 100px;
  }

  .container-heading-main > h5 {
    font-size: 16px;
    letter-spacing: 2.7pt;
  }

  .container-heading-main > p {
    font-size: 15px;
    line-height: 25px;
  }

  .btn-explorer-outer {
    position: initial;
    pointer-events: initial;
    margin-top: 131px;
    margin-bottom: 48px;
    width: 200px;
    height: 200px;
    isolation: isolate;
    z-index: 7;
  }

  .btn-explorer {
    width: 150px;
    height: 150px;
    pointer-events: initial;
  }

  .btn-explorer > p {
    font-size: 20;
    letter-spacing: 1.25pt;
  }

  .btn-explorer-outer-pressed {
    background-color: hsla(0, 0%, 49%, 0.8);
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) {
  body {
    background-image: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 475px) {
  body {
    background-image: url("/assets/home/background-home-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
