.btn-explorer-outer {
  position: absolute;
  /*left: 1001px;
  top: 495px;
  */
  pointer-events: none;
  left: 65%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 3;
}

.btn-explorer {
  position: absolute;
  pointer-events: auto;
  width: 274px;
  height: 274px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 5;
}

.btn-explorer > p {
  padding: 0;
  margin: 0;
  color: #0b0d17;
  font-size: 28px;
  font-family: "Barlow Condensed";
  letter-spacing: 4.75pt;
  cursor: default;
}

.btn-explorer-outer:hover {
  background-color: hsla(0, 0%, 49%, 0.8);
  cursor: pointer;
}

.container-heading-main {
  position: absolute;
  /*   left: 116px;
  top: 387px; */
  top: 43%;
  left: 11%;
  width: 450px;
  height: 382px;
  color: #ffffff;
}

.container-heading-main > h1 {
  letter-spacing: normal;
  font-size: 150px;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin: 2rem 0;
}

.container-heading-main > h5 {
  font-size: 28px;
  font-family: "Barlow Condensed";
  color: #d0d6f9;
  letter-spacing: 4.72px;
}

.container-heading-main > p {
  font-size: 18px;
  font-family: "Barlow";
  line-height: 32px;
}
