body {
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.container-navigation {
  position: absolute;
  margin-left: 4%;
  top: 55px;
  right: 0px;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-line {
  position: absolute;
  margin-left: 112px;
  width: 35%;
  height: 1px;
  background-color: #979797;
  z-index: 5;
}

.container-links {
  background-color: hsla(0, 0%, 100%, 0.04);
  backdrop-filter: blur(10px);
  display: flex;
  width: 60%;
  height: 96px;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Barlow Condensed";
  color: #ffffff;
  letter-spacing: 2.7px;
}

.links {
  list-style: none;
  width: 100%;
  margin-left: 15%;
  margin-right: 19%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container-links > .links > li > a > span {
  font-weight: bold;
  margin-right: 14px;
}

.nav-element {
  height: 100%;
  display: flex;
  pointer-events: none;
  align-items: center;
  border-bottom: 3px solid transparent;
}

.nav-element > a {
  pointer-events: auto;
}

.nav-element:hover {
  border-bottom: 3px solid #979797;
}

.active {
  border-bottom: 3px solid #ffffff;
}

.active:hover {
  border-bottom: 3px solid #ffffff;
}

/* TODO: Small Laptop */

@media screen and (max-width: 1270px) {
  .nav-line {
    width: 30%;
  }

  .links {
    margin-left: 7%;
    margin-right: 12%;
  }

  .container-links > .links > li > a > span {
    font-weight: bold;
    margin-right: 5px;
  }
}

/* TODO: Tablet */

@media screen and (max-width: 768px) {
  .container-navigation {
    padding-left: 5%;
    top: 0px;

    right: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-line {
    display: none;
  }

  .container-links {
    width: 450px;
  }

  .container-links > .links > li > a > span {
    display: none;
  }

  .nav-element {
    font-size: 15px;
  }

  .links {
    margin: 0 10%;
  }
}

@media screen and (max-width: 475px) {
  .container-navigation {
    padding-left: 5%;
    top: 0px;

    right: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-line {
    display: none;
  }

  .container-links {
    width: 450px;
  }

  .container-links > .links > li > a > span {
    display: none;
  }

  .nav-element {
    font-size: 15px;
  }

  .links {
    margin: 0 5%;
  }
}

/* TODO: Mobile */
