body {
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-attachment: fixed;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.technology_heading {
  margin: 88px 0 32px 0;
  font-family: "Barlow Condensed";
  font-weight: lighter;
  letter-spacing: 2.7pt;
  font-size: 16px;
}

.technology_heading > span {
  font-family: "Barlow Condensed";
  font-weight: bold;
  color: rgba(255, 255, 255, 0.25);
  padding-right: 16px;
}

.container-technology {
  display: flex;
  flex-direction: column-reverse;
}

.Container-technology-Aside {
  width: 375px;
  height: 170px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-bottom: 34px;
}

.Container-technology-Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container_technology_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 152px;
  height: 40px;
  margin-bottom: 26px;
  isolation: isolate;
  z-index: 10;
}

.technology_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.technology_btn-active {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #0b0d17;
}

.technology_btn-active,
.technology_btn > span {
  font-size: 16px;
  font-family: "Bellefair";
}

.technology_intro {
  font-size: 14px;
  letter-spacing: 2.36px;
  margin: 0 0 9px 0;
  padding: 0;
  text-align: center;
  font-family: "Barlow Condensed";
  color: #d0d6f9;
  font-weight: lighter;
}

.technology_heading_content {
  font-size: 24px;
  font-family: "Bellefair";
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 16px 0;
  padding: 0;
}

.technology_text {
  width: 327px;
  height: 175px;
  font-family: "Barlow";
  font-weight: lighter;
  font-size: 15px;
  line-height: 15pt;
  text-align: center;
  color: #d0d6f9;
}

@media screen and (min-width: 758px) {
  body {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }

  .technology_heading {
    width: 100%;
    margin: 136px 0 60px 0;
    padding-left: 38.5px;
    letter-spacing: 3.38pt;
    font-size: 20px;
  }

  .technology_image {
    width: 100%;
  }

  .container-technology {
    width: 100%;
  }

  .Container-technology-Aside {
    width: 100%;
    height: 310px;
    margin-bottom: 56px;
  }

  .container_technology_menu {
    width: 210px;
    height: 60px;
    margin-bottom: 44px;
  }

  .technology_btn {
    width: 60px;
    height: 60px;
  }

  .technology_btn-active,
  .technology_btn > span {
    font-size: 24px;
    letter-spacing: 1.5pt;
    font-family: "Bellefair";
  }

  .technology_intro {
    font-size: 16px;
    letter-spacing: 2.7px;
    margin: 0 0 16px 0;
  }

  .technology_heading_content {
    font-size: 40px;
  }

  .technology_text {
    width: 458px;
    height: 140px;
    line-height: 28pt;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }

  .technology_heading {
    margin: 212px 0 26px 0;
    padding-left: 166.5px;
    letter-spacing: 4.72pt;
    font-size: 28px;
  }

  .container-technology {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .technology_image {
    height: 527px;
    width: 515px;
  }

  .Container-technology-Aside {
    width: 515px;
    height: 527px;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }

  .Container-technology-Main {
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
  }

  .container_technology_menu {
    flex-direction: column;

    width: 80px;
    height: 304px;
    margin: 0 90px 0 0;
    padding-left: 165px;
    padding-right: 80px;
  }

  .technology_btn {
    width: 80px;
    height: 80px;
  }

  .technology_btn-active,
  .technology_btn > span {
    font-size: 32px;
    letter-spacing: 2pt;
  }

  .container_technology_info {
    height: fit-content;
  }

  .technology_intro {
    text-align: left;
    margin: 0 0 11px 0;
  }

  .technology_heading_content {
    font-size: 56px;
    text-align: left;
    margin-bottom: 17px;
  }

  .technology_text {
    width: 444px;
    height: 192px;
    font-size: 18px;
    line-height: 32pt;
    text-align: left;
  }

  .technology_btn:hover {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
